
.containerNew {
    display: flex;
}

.side-menu {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    height: 73vh;
    padding-top: 20px;
    overflow: scroll;
    cursor: pointer;
    border-radius: 0px 0px 0px 5px;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    padding: 10px 20px;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
}

.side-menu ul :hover {
    background-color: #34495e;
}

.activeSide{
    background-color: #cfe3f8 !important;
}

.activeSide a{
    color: black !important;
}

.contentNew {
    flex-grow: 1;
    height: 65vh;
    overflow:scroll;
/*    padding: 20px;*/
}

.sub-menu {
/*    display: none;*/
    padding-left: 20px;
}

.sub-menu li {
    padding: 10px 0;
}


	.area-konten-dashboard {
		background-color: #FFFFFF;

		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;

		overflow: hidden;
	}
	.area-konten-dashboard .judul {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		padding: 5px 15px;
		border-bottom: 1px solid #dadada;
	}
	.area-konten-dashboard .inner {
		padding-bottom: 5px;
	}
	.area-konten-dashboard .inner table td {
		padding: 5px 15px;
	}
	.area-konten-dashboard .inner .dataTables_scroll {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.area-konten-dashboard .inner .dataTables_info {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 15px;
	}

	/****/
	.area-unit-kerja-dashboard {
		border: 1px solid rgba(0,0,0,0.2);
		margin-top: 15px;
		padding: 10px 30px 10px 15px;
		width: fit-content;

		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		
		font-size: 12px;
	}

.calendar-container {
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
  padding: 20px 20px;
}


.calendar-week {
  display: flex;
  list-style: none;
  align-items: center;
  padding-inline-start: 0px;
}

.calendar-week-day {
  max-width: 57.1px;
  width: 100%;
  text-align: center;
  color: #525659;
}

.calendar-days {
  margin-top: 30px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding-inline-start: 0px;
}

.calendar-day {
  text-align: center;
  color: #525659;
  padding: 10px;
}

.calendar-month-arrow-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-month-year-container {
  padding: 10px 10px 20px 10px;
  color: #525659;
  cursor: pointer;
}

.calendar-arrow-container {
  margin-top: -5px;
}

.calendar-left-arrow,
.calendar-right-arrow {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #525659;
}

.calendar-today-button {
  margin-top: -10px;
  border-radius: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #525659;
  padding: 5px 10px;
}

.calendar-today-button {
  height: 27px;
  margin-right: 10px;
  background-color: #ec7625;
  color: white;
}

.calendar-months,
.calendar-years {
  flex: 1;
  border-radius: 10px;
  height: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #525659;
  font-size: 15px;
}

.calendar-day-active {
  background-color: #ec7625;
  color: white;
  border-radius: 10px;
}

.calendar-alert {
  background-color: red;
  color: white;
  border-radius: 10%;
  cursor: pointer;
}
.calendar-notif{
    font-size: 12px;
  margin-top: -16px;
  color: white;
  border-radius: 30px;
  background-color: green;
  padding: 5px;
  position: absolute;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0A7DB4;
  color: white;
}

.nama{
  color: black;
}

